<!DOCYPE html>
<html>
  <head>
    <title>Book Info</title>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="card container">
      <div class="card-header">
        Registrate
      </div>
      <div class="card-body">
        <form method="POST" action="/q-creation">
          <div class="form-group">
            <label for="id">Matrícula</label>
            <input type="text" class="form-control" id="id" placeholder="Ingresa matrícula" name="id">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa Nombre" name="nombre">
            <label for="n_questions"></label>
            <select class="form-control form-control-sm" id="n_questions" name="n_questions">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
      </div>
    </div>
  </body>
</html>